{% load static %}

{% include 'admin_navigation.html' %}

<marquee behavior="alternate" style="font-family: 'Monotype Corsiva'; font-size:25px; color:lightgreen; background-color:black; font-weight:bold; margin-top:1%">
   Change Image
</marquee>
<hr>
<form class="container mt-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-4" >
            <label>Book Name:</label>
            <input type="text" readonly class="form-control" name="room_no" value="{{data.book_name}}">
        </div>
        <div class="form-group col-md-8" >
            <img src="{{data.image.url}}" style="100px ; height : 250px; width : 450px; border-radius:10%">
        </div>
    </div>



    <div class="form-row">

        <div class="form-group col-md-12" >
            <label>Room Image:</label>
            <input type="file" class="form-control" name="image"  required>
        </div>
    </div>

    </div>
<input type="submit" value="Submit" class="btn btn-primary my-3" style="width:200px">
</form>


{% ifequal error "no" %}
<script>
    alert("Room Image Updated Successfully")
    window.location = ('{% url 'edit_book' data.id %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Somthing Wrong, Try Again...")
</script>
{% endifequal %}




