{% load static %}

{% block body %}

{% include 'user_navigation.html' %}


<marquee behavior="alternate" style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top:1%">
        Feedback Form
</marquee>
<hr>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Full Name:</b></label>
    <input type="text" class="form-control" name="fname" value="{{request.user.first_name}} {{request.user.last_name}}" required="true">

    <label><b>Phone Number:</b></label>
    <input type="text" class="form-control" name="fphone" required="true">

    <label><b>Email Address:</b></label>
    <input type="email" class="form-control" name="femail" value="{{request.user}}" readonly>

    <label><b>Experience:</b></label>
    <input type="text" class="form-control" name="fcomment" required="true">
    <input type="submit" class="btn btn-primary" style="margin-top:2%; color:darkcyan; background-color:black ; height:50px; font-size:25px">
</form>
{% ifequal error "no" %}
<script>
    alert("Feedback Submitted Successfully")
    window.location = ('{% url 'feedback' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something went wrong, Try Again")
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert("Your Current Password is wrong")
</script>
{% endifequal %}

{% endblock %}